logger_setup==0.17
python-dotenv==1.1.0
Requests==2.32.3
pre-commit
black
docformatter
flake8
flake8-docstrings
flake8-bugbear
flake8-comprehensions
coverage
distlib
isort
packaging
platformdirs
pylint
pytest
tomlkit
virtualenv
vulture
pyupgrade
