accelerate
bitsandbytes
ffmpeg-python
huggingface_hub
ImageHash
logger-setup
numpy
nvidia-ml-py3
opencv-python
pillow
pydantic
pymediainfo
PyMySQL
python-dotenv
qwen-vl-utils
qwen-vl-utils[decord]
requests
rich
scenedetect[opencv]
sentence-transformers
StrEnum
torch==2.9.1
torchaudio==2.9.1
torchvision
transformers